.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/
embeddings/checkpoints/                                                                                             
transfer-learning/codes                                                                                             
transfer-learning/labels                                                                                            
transfer-learning/tensorflow-vgg/     

.ipynb_checkpoints/

intro-to-tensorflow/notMNIST.pickle 
intro-to-tensorflow/notMNIST_test.zip
intro-to-tensorflow/notMNIST_train.zip
misc/ 
tv-script-generation/checkpoint                                                                                     
tv-script-generation/save.data-00000-of-00001                                                                       
tv-script-generation/save.index                                                                                     
tv-script-generation/save.meta  

*.pyc
*.p
*.pkl 

*/.floyd*

